<AuthorizeView>
    <Authorized>
        <a href="/identity/account/logout">
            Log Keluar
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="/identity/account/login">
            Log Masuk
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
