@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines

@inject SignInManager<IdentityUser> SignInManager
@inject NavigationManager NavigationManager
<AuthorizeView>
    <Authorized>
        <NavLink class="nav-link" href="/Identity/Account/Logout" Match="NavLinkMatch.All">
            <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
        </NavLink>
    </Authorized>
    <NotAuthorized>
        <a href="/identity/account/login">
            Log Masuk
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async void OnLogOut()
    {
        await SignInManager.SignOutAsync();

        NavigationManager.NavigateTo("/Identity/Account/Login/ReturnUrl=~/");
    }
}
