<p>Current count: @currentCount</p>

<input class="form-control" @onfocusout="@IncrementCount" type="number" @bind-value="@AmountInserted">

@code {


    [Parameter]
    public int Amount { get; set; }
    [Parameter] public EventCallback<int> AmountChanged { get; set; }


    private int currentCount { get; set; }
    private int AmountInserted { get; set; }

    protected override void OnInitialized()
    {
        currentCount = Amount;
    }


    async Task IncrementCount()
    {
        currentCount = currentCount + AmountInserted;

        if (AmountChanged.HasDelegate)
        {
            await AmountChanged.InvokeAsync(currentCount);
        }
    }
}

